<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>{% block page_title %}Pay Flow{% endblock %}</title>

    {% block site_css %}
      <link href="{{ static('examples/css/main.css') }}" rel="stylesheet">
      <style type="text/css">
        #pay p { text-align: center; }
      </style>
    {% endblock %}
  </head>
  <body data-mobile-cookie="{{ settings.MOBILE_COOKIE }}">
    {% block content %}
    {% endblock %}

    {% block site_js %}
    {% endblock %}
  </body>
</html>
