<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>{% block page_title %}Pay Flow{% endblock %}</title>

    {% block site_css %}
      <link href="{{ static('examples/css/main.css') }}" rel="stylesheet">
    {% endblock %}
  </head>
  <body data-mobile-cookie="{{ settings.MOBILE_COOKIE }}">
    query string: <input id="qs" type="text">
    <button id="go">Go</button>
    {% block content %}{% endblock %}

    {% block site_js %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script type="text/javascript">
      $('#go').click(function() {
          var url = 'http://bango.net/go/?' + $('#qs').val();
          console.log('going to', url);
          window.location.href = url;
      });
    </script>
    {% endblock %}
  </body>
</html>
