{% extends "payflow/base.html" %}

{% block content %}
  <section id="pay">
    <p>
      <button id="dopay">Make mobile payment</button>
    </p>
    <p>(you <b>will</b> be charged)</p>
    <p>
      <button id="simpay">Simulate mobile payment</button>
    </p>
    <p>(you will not be charged)</p>
    <p>
      <button id="ident">Identify your phone for payment</button>
    </p>
  </section>
{% endblock %}

{% block site_js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script type="text/javascript">
  {# These numbers are configured in the Setup and Config
     section of Bango. Each has a preconfigured redirect URL.
     You can see the handlers to those in payflow/views.py #}
  $('#dopay').click(function() {
      var url = 'http://bango.net/go/?bango=1113330000000250475';
      window.location.href = url;
  });
  $('#simpay').click(function() {
      // This is a payment number but the product is free.
      var url = 'http://bango.net/go/?bango=1113330000000250479';
      window.location.href = url;
  });
  $('#ident').click(function() {
      var url = 'http://bango.net/id/?bango=1113330000000250630&p=ourtoken';
      window.location.href = url;
  });
</script>
{% endblock %}
